/*@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');*/
/*@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display&display=swap');*/
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Raleway&display=swap');

body{
  font-family:'Raleway', sans-serif;
	text-align:center;
  font-size: 16px;
	color:#fff;
	background:url("https://images.unsplash.com/photo-1545056769-9edae80e96d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") no-repeat center center;
	/*background-image: url(../images/table_deco.jpg);*/
  background-size: cover;
}
/*.responsive{ width:100%;*/
             /*height:auto;*/
              /*}*/
h1{
   font-family: "Abril Fatface" , "Playfair Display", 'Cinzel Decorative', cursive;
   font-size: 4em;
   padding:30px;
   }

#slogan{ 
    font-size: 1.2em;
    font-weight: 400;
    color:#ffe8a8;
}

/*#studio_info{
    margin-top: 200px;
}
.info{
    line-height: 2;
} */

a{
  color:#ffe8a8;
  text-decoration:none;
}
#register button{
          background-color:#ffe8a8;
          color:black;
          font-size: 1.3em;
          padding: 8px 20px;
          margin: 50px;
          float: center;
          position: relative;
          border-radius:2px;
          cursor:pointer;
}
section{
  width:46%;
  padding:2%;
  display: inline-block;
  line-height: 1.5em;
}

#column1 {
  float:left;
}
/*#column2 {
  float:left;
}
#column3 {
  float:left;
} */
#column4 {
float:right;
}

}
.clearfix:after{
              visibility: hidden;
              display: block;
              font-size: 0;
              content:" ";
              clear:both;
              height:0;
}
.subpage{
            background-color:transparent;
            color:#de4028;
            font-size:1.2em;
            font-weight: 700px;
            border:0;
            /*padding: 0px 20px;
            margin: 0px 20px;*/
            text-align: left;
            text-decoration: underline;
            cursor:pointer;
}   
.subpage:hover{ 
            color:#ffe8a8; 
}
                   
ul{
  list-style:none;
  text-align: left;
  color:rgba(222,64,40, .7);
}

#info1{
  float:left;

}
#info2{
 float:right;
}
hr{
  width:80px;
  margin-top:30px;
  margin-bottom:30px;
}
#bottomline {
              width:100%;
              margin-bottom:30px;
              height:1px;
}
p { 
  font-size: 0.8em;
}
footer{
      font-size: 0.7em;
      margin: 20px;
}