body{
	font-family: Quicksand, Fira Sans, san-serif;
	text-align:center;
	color:#fff;
	background:url("https://images.unsplash.com/photo-1545056769-9edae80e96d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") no-repeat center center;
	background-size: cover;
}
/*.responsive{ width:100%;*/
             /*height:auto;*/
              /*}*/
h1{font-family:Quicksand, Fira Sans, san-serif;}

#slogan{ font-size: 20px;
         font-weight: 600; }
a{color:#ffe8a8;
text-decoration:none;}
.btn-group button{ background-color:#ffe8a8;
                   color:black;
                   padding: 10px 24px;
                   float: center;
                   margin-top-top:500px;
                   border-radius:2px; }